{{!-- Partial --}}
{{>head}}

<body>
    {{>navbar}}

    <div class="container">

        {{!-- Hbs we render --}}
        {{{body}}}

        {{!-- Partial --}}
        {{>footer}}

    </div>

</body>

</html>